<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Test</title>

</head>
<script>

    function registerRestaurant() {
        // 1. 작성한 메모를 불러옵니다.
        let name = $('#restaurant-name').val();
        let deliveryFee = $('#delivery-fee').val();
        let minOrderPrice = $('#min-order-price').val();
        // 4. 전달할 data JSON으로 만듭니다.
        let data = {'name': name, 'minOrderPrice': minOrderPrice, 'deliveryFee':deliveryFee};

        // 5. POST /api/posts 에 data를 전달합니다.
        $.ajax({
            type: "POST",
            url: "/restaurant/register",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                alert('식당이 성공적으로 등록되었습니다.');
                window.location.assign("/restaurant")

            }
        });


    }

</script>
<body>

<form>
    <div class="form-group">
        <input type="text" class="form-control" id="restaurant-name" placeholder="restaurant-name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="delivery-fee" placeholder="delivery-fee">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="min-order-price" placeholder="min-order-price">
    </div>

    <button type="button" class="btn btn-primary" onclick="registerRestaurant()">Submit</button>
</form>
</body>
</html>