<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Test</title>

</head>
<script>

    $(document).ready(function () {
        // HTML 문서를 로드할 때마다 실행합니다.
        getRestaurant();
        getOrders();

    })

    //================================================================
    // 메모를 불러와서 보여줍니다.
    function getRestaurant() {
        // 1. 기존 메모 내용을 지웁니다.
        $('#restaurant-list').empty();
        // 2. 메모 목록을 불러와서 HTML로 붙입니다.
        $.ajax({
            type: 'GET',
            url: '/restaurant',
            success: function (response) {

                for (let i = 0; i < response.length; i++) {
                     let message = response[i];
                     let id = message['id'];
                     let name = message['name'];
                     addrestaurantHTML(id, name);
                }
            }
        })
    }

    // 메모 하나를 HTML로 만들어서 body 태그 내 원하는 곳에 붙입니다.
    function addrestaurantHTML(id, name) {
        // 1. HTML 태그를 만듭니다.
        let tempHtml = `<li class="list-group-item" onclick="getFood(${id})">${id}-${name}</li>`;
        // 2. #cards-box 에 HTML을 붙인다.
        $('#restaurant-list').append(tempHtml);
    }


    function registerRestaurant() {
        // 1. 작성한 메모를 불러옵니다.
        let name = $('#restaurant-name').val();
        let deliveryFee = $('#delivery-fee').val();
        let minOrderPrice = $('#min-order-price').val();
        // 4. 전달할 data JSON으로 만듭니다.
        let data = {'name': name, 'minOrderPrice': minOrderPrice, 'deliveryFee':deliveryFee};

        // 5. POST /api/posts 에 data를 전달합니다.
        $.ajax({
            type: "POST",
            url: "/restaurant/register",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                alert('식당이 성공적으로 등록되었습니다.');
                window.location.reload();

            }
        });
    }

    //================================================================

    function getFood(idx) {
        // 1. 기존 메모 내용을 지웁니다.
        let restaurantId = idx;
        $('#food-list').empty();
        // 2. 메모 목록을 불러와서 HTML로 붙입니다.
        $.ajax({
            type: 'GET',
            url: `/restaurant/${restaurantId}/foods`,
            success: function (response) {

                for (let i = 0; i < response.length; i++) {
                    let message = response[i];
                    let id = message['id'];
                    let name = message['name'];
                    let price = message['price'];
                    let restaurant = message['restaurantId'];
                    addFoodHTML(id, name, price, restaurant);
                }
            }
        })
    }

    // 메모 하나를 HTML로 만들어서 body 태그 내 원하는 곳에 붙입니다.
    function addFoodHTML(ids, names, prices, restaurantId) {
        // 1. HTML 태그를 만듭니다.
        let tempHtml = `<li class="list-group-item">${ids}-${names}-${prices}-${restaurantId}</li>`;
        // 2. #cards-box 에 HTML을 붙인다.
        $('#food-list').append(tempHtml);
    }

    function registerFood() {

        // 1. 작성한 메모를 불러옵니다.
        let name = $('#food-name').val();
        let restaurantId = $('#restaurant-id').val();
        let price = $('#food-price').val();
        // 4. 전달할 data JSON으로 만듭니다.
        let data = {'name': name, 'price':price, 'restaurantId': restaurantId};

        // 5. POST /api/posts 에 data를 전달합니다.
        $.ajax({
            type: "POST",
            url: `/restaurant/${restaurantId}/food/register`,
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                alert('메뉴가 성공적으로 등록되었습니다.');
                window.location.reload();

            }
        });
    }

    //================================================================

    // 메모를 불러와서 보여줍니다.
    function getOrders() {
        // 1. 기존 메모 내용을 지웁니다.
        $('#orders-list').empty();
        // 2. 메모 목록을 불러와서 HTML로 붙입니다.
        $.ajax({
            type: 'GET',
            url: '/orders',
            success: function (response) {
                for (let i = 0; i < response.length; i++) {

                    let message = response[i];
                    let restaurantName = message['restaurantName'];

                    let food = message['food'];
                    let foodName = food['name'];
                    let quantity = food['quantity'];
                    let price = food['price'];

                    let deliveryFee =  message['deliveryFee'];
                    let totalPrice = message['totalPrice'];
                   let tempHtml = `<li>${restaurantName}-${foodName}-${quantity}-${price}-${deliveryFee}-${totalPrice}</li>`;
                    $('#orders-list').append(tempHtml);
                }
            }
        })
    }


    function registerOrders() {
        // 1. 작성한 메모를 불러옵니다.
        let foodId = $('#orders-food-id').val();
        let quantity = $('#orders-food-quantity').val();
        let restaurantId = $('#orders-restaurant-id').val();
        let food_data = {'id': foodId, 'quantity': quantity};
        let data = {'restaurantId': restaurantId, 'foods': food_data};

        // 5. POST /api/posts 에 data를 전달합니다.
        $.ajax({
            type: "POST",
            url: "/order/request",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                alert('주문이 성공적으로 등록되었습니다.');
                window.location.reload();

            }
        });
    }

</script>
<body>
<!--=====================================================-->
<div> 레스토랑 등록</div>
<form>
    <div class="form-group">
        <input type="text" class="form-control" id="restaurant-name" placeholder="restaurant-name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="min-order-price" placeholder="min-order-price">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="delivery-fee" placeholder="delivery-fee">
    </div>
    <button type="button" class="btn btn-primary" onclick="registerRestaurant()">Submit</button>
</form>

<div>레스토랑 목록</div>
<ul class="list-group" id="restaurant-list">
</ul>
<!--======================================================-->

<div> 메뉴 등록</div>
<form>
    <div class="form-group">
        <input type="text" class="form-control" id="food-name" placeholder="food-name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="restaurant-id" placeholder="restaurant-id">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="food-price" placeholder="food-price">
    </div>

    <button type="button" class="btn btn-primary" onclick="registerFood()">Submit</button>
</form>

<div>음식 목록</div>
<ul class="list-group" id="food-list">
</ul>

<!--==================================================================-->

<div>주문 목록</div>
<div class="form-group">
    <input type="text" class="form-control" id="orders-restaurant-id" placeholder="restaurant-id">
</div>
<div class="form-group">
    <input type="text" class="form-control" id="orders-food-id" placeholder="food-id">
</div>
<div class="form-group">
    <input type="text" class="form-control" id="orders-food-quantity" placeholder="food-quantity">
</div>

<button type="button" class="btn btn-primary" onclick="registerOrders()">Submit</button>

<ul class="list-group" id="orders-list">
</ul>

</body>


</html>